{% extends "layout.html" %}

{% block content %}

<div class="main-container">
    <div class="cloud-image">
        <img src="../static/img/hairforce-logo.svg" />
    </div>
    <div class="content">
        <div class="content-body">
            <div class="success-text">Welkom!</div>
            <div class="description line-1">Hairforce One Proof of Concept</div>
            <div class="description line-2">Niet voor productiedoeleinden!</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Haarverzorging</h2>
        <p>Onze specialiteit is knippen, kleuren en kammen. Alle behandelingen worden afgestemd op jouw haar en wensen</p>
        <p><a class="btn btn-default" href="">Onze behandelingen &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Producten</h2>
        <p>Met ons ruime assortiment shampoos, conditioners, haarkleuringen, haarkuren en voedende maskers ziet je haar er perfect verzorgd uit</p>
        <p><a class="btn btn-default" href="/products">Onze producten &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reserveren</h2>
        <p>Je kunt een behandeling reserveren voor je favoriete datum en tijdstip, en je favoriete haarprofessional, als je dat wilt</p>
        <p><a class="btn btn-default" href="">Nu reserveren &raquo;</a></p>
    </div>
</div>

{% endblock %}
